.container{
    display: grid;
grid-template-columns: auto auto auto;
    background-color: #2196F3;
    padding: 50px;
    grid-row-gap: 10px;
    grid-column-gap: 0;
    justify-content: center;
    
}
.grid-item{
    background-color: white;
     font-size: 30px;
    width:200px;
    height:200px;


}
.one{
    grid-column-start: 1;
    grid-column-end: 3;
    width: 478px;
}
.three{
    width:240px;
}
.seven{
    grid-column-start:2;
    grid-column-end: 4;
    width: 460px;
    background-color: #2196F3;
    
}
.imgone{
    width:478px;
    height: 200px;
    justify-content: center;
}
.imgtwo{
    width:200px;
    height:200px;
}
.imgthree{
    width:250px;
    height: 200px;
}
.imgfour{
    width:220px;
    height:200px;
}
.imgfive{
    width:200px;
    height:200px;
}
.imgsix{
    width:250px;
    height: 200px;  
}
.imgseven{
    width:435px;
    height: 200px;
}